<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    {{ include('common/head.html.twig') }}
</head>

<body>
<header>

    {{ include('common/header-top.html') }}

    {{ include('common/logo-wrap.html') }}

    {{ include('common/menu.html.twig') }}
    {% block includes %}{% endblock %}
</header>

{% block main %}
<div class="site-main-container">
    {% block content %}
    {% if articles|length > 3 %}
        <!-- Start top-post Area -->
        <section class="top-post-area pt-10">
            <div class="container no-padding">
                <div class="row small-gutters">
                    <div class="col-lg-8 top-post-left">

                        <a href="/article/{{ articles[0].id }}">
                        <div class="feature-image-thumb relative custom-image">
                            <div class="overlay overlay-bg"></div>
                            {% if articles[0].image == null %}
                                <div class="image-div" style="background-image:url(/img/defaultnews0.jpg)">
                                    <img style="visibility: hidden" class="img-fluid" src="img/defaultnews0.jpg">
                                </div>
                            {% else %}
                                <div class="image-div" style="background-image:url({{ image_directory }}{{ articles[0].image }})">
                                    <img style="visibility: hidden" class="img-fluid" src="img/defaultnews0.jpg">
                                </div>
                            {% endif %}
                        </div>
                        </a>
                        <div class="top-post-details">
                            <ul class="tags">
                                <li><a href="/category/{{ articles[0].category.id }}">{{ articles[0].category.name }}</a></li>
                            </ul>
                            <a href="/article/{{ articles[0].id }}">
                                <h3>{{ articles[0].title }}</h3>
                            </a>
                            <ul class="meta">
                                <li><a href="/author/{{ articles[0].author.id }}"><span class="lnr lnr-user"></span>{{ articles[0].author.firstName }} {{ articles[0].author.lastName }}</a></li>
                                <li><span class="lnr lnr-calendar-full"></span>{{ articles[0].date|date("d M H:i") }}</li>
                                <li><a href="/article/{{ articles[0].id }}#comments"><span class="lnr lnr-bubble"></span>{{ articles[0].comments|length }} {% if articles[0].comments|length == 1 %} Comment {% else %} Comments {% endif %}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 top-post-right">
                        <div class="single-top-post">
                            <a href="/article/{{ articles[1].id }}">
                            <div class="feature-image-thumb relative">
                                <div class="overlay overlay-bg"></div>
                                {% if articles[1].image == null %}
                                    <div class="image-div" style="background-image:url(/img/defaultnews1.jpg)">
                                        <img style="visibility: hidden" class="img-fluid" src="img/defaultnews1.jpg">
                                    </div>
                                {% else %}
                                    <div class="image-div" style="background-image:url({{ image_directory }}{{ articles[1].image }})">
                                        <img style="visibility: hidden" class="img-fluid" src="/img/defaultnews1.jpg">
                                    </div>
                                {% endif %}
                            </div>
                            </a>
                            <div class="top-post-details">
                                <ul class="tags">
                                    <li><a href="/category/{{ articles[1].category.id }}">{{ articles[1].category.name }}</a></li>
                                </ul>
                                <a href="/article/{{ articles[1].id }}">
                                    <h4>{{ articles[1].title }}</h4>
                                </a>
                                <ul class="meta">
                                    <li><a href="/author/{{ articles[1].author.id }}"><span class="lnr lnr-user"></span>{{ articles[1].author.firstName }} {{ articles[1].author.lastName }}</a></li>
                                    <li><span class="lnr lnr-calendar-full"></span>{{ articles[1].date|date("d M H:i") }}</li>
                                    <li><a href="/article/{{ articles[1].id }}#comments"><span class="lnr lnr-bubble"></span>{{ articles[1].comments|length }} {% if articles[1].comments|length == 1 %} Comment {% else %} Comments {% endif %}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-top-post mt-10">
                            <a href="/article/{{ articles[2].id }}">
                            <div class="feature-image-thumb relative">
                                <div class="overlay overlay-bg"></div>
                                {% if articles[2].image == null %}
                                    <div class="image-div" style="background-image:url(/img/defaultnews1.jpg)">
                                        <img style="visibility: hidden" class="img-fluid" src="/img/defaultnews1.jpg">
                                    </div>
                                {% else %}
                                    <div class="image-div" style="background-image:url({{ image_directory }}{{ articles[2].image }})">
                                        <img style="visibility: hidden" class="img-fluid" src="/img/defaultnews1.jpg">
                                    </div>
                                {% endif %}
                            </div>
                            </a>
                            <div class="top-post-details">
                                <ul class="tags">
                                    <li><a href="/category/{{ articles[2].category.id }}">{{ articles[2].category.name }}</a></li>
                                </ul>
                                <a href="/article/{{ articles[2].id }}">
                                    <h4>{{ articles[2].title }}</h4>
                                </a>
                                <ul class="meta">
                                    <li><a href="/author/{{ articles[2].author.id }}"><span class="lnr lnr-user"></span>{{ articles[2].author.firstName }} {{ articles[2].author.lastName }}</a></li>
                                    <li><span class="lnr lnr-calendar-full"></span>{{ articles[2].date|date("d M H:i") }}</li>
                                    <li><a href="/article/{{ articles[2].id }}#comments"><span class="lnr lnr-bubble"></span>{{ articles[2].comments|length }} {% if articles[2].comments|length == 1 %} Comment {% else %} Comments {% endif %}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    {% endblock content %}
    <!-- End top-post Area -->
    <!-- Start latest-post Area -->
    <section class="latest-post-area pb-120">
        <div class="container no-padding">
            <div class="row">
                <div class="col-lg-8 post-list">
                    <!-- Start latest-post Area -->
                    <div class="latest-post-wrap">
                        <h4 class="cat-title">Latest News</h4>
                        {% set unfeatured = articles %}
                        {% if articles|length > 3 %}
                            {% set unfeatured = articles|slice(3) %}
                        {% endif %}
                        {% for article in unfeatured%}
                            <div class="single-latest-post row align-items-center">
                                <div class="col-lg-5 post-left">
                                    <a href="/article/{{ article.id }}">
                                    <div class="feature-img relative">
                                        <div class="overlay overlay-bg"></div>
                                        {% if article.image == null %}
                                            <div class="image-div" style="background-image:url(/img/defaultnews.jpg)">
                                                <img style="visibility: hidden" class="img-fluid" src="/img/defaultnews.jpg">
                                            </div>
                                        {% else %}
                                            <div class="image-div" style="background-image:url({{ image_directory }}{{ article.image }})">
                                                <img style="visibility: hidden" class="img-fluid" src="/img/defaultnews.jpg">
                                            </div>
                                        {% endif %}
                                    </div>
                                    </a>
                                    <ul class="tags">
                                        <li><a href="category/{{ article.category.id }}">{{ article.category.name }}</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-7 post-right">
                                    <a href="article/{{ article.id }}">
                                        <h4>{{ article.title }}</h4>
                                    </a>
                                    <ul class="meta">
                                        <li><a href="author/{{ article.author.id }}"><span class="lnr lnr-user"></span>{{ article.author.firstName }} {{ article.author.lastName }}</a></li>
                                        <li><span class="lnr lnr-calendar-full"></span>{{ article.date|date("d M H:i") }}</li>
                                        <li><a href="article/{{ article.id }}#comments"><span class="lnr lnr-bubble"></span>{{ article.comments|length }} {% if article.comments|length == 1 %} Comment {% else %} Comments {% endif %}</a></li>
                                    </ul>
                                    <div class="excert">
                                        {{ article.summary|raw }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- End latest-post Area -->
                </div>
                <div class="col-lg-4">
                    <div class="sidebars-area">
                        {{ include('common/featured.html.twig') }}
                        {{ include('common/newsletter.html.twig') }}
                        {{ include('common/social-widget.html') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End latest-post Area -->
</div>
{% endblock main %}

<!-- start footer Area -->
{{ include('common/footer.html') }}
<!-- End footer Area -->
{{ include('common/js.html') }}
</body>

</html>
