{% extends 'admin/base.html.twig' %}

{% block includes %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
{% endblock includes %}

{% block content %}
  <div class="bgc-white p-20 bd">
    <h4 class="c-grey-900 h h-article">New Article</h4>
    <div class="mT-30">
        {{ form_start(form) }}
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="article_title">Title</label>
            {{ form_widget(form.title, {'attr': {'class': 'form-control', 'id': 'title'}}) }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="article_content">Article Content</label>
            {{ form_widget(form.content) }}
          <script>
              $('#article_content').summernote({
                  placeholder: 'Your article content',
                  tabsize: 2,
                  height: 300,
                  toolbar: [
                      // [groupName, [list of button]]
                      ['style', ['bold', 'italic', 'underline', 'clear']],
                      ['font', ['strikethrough', 'superscript', 'subscript']],
                      ['para', ['ul', 'ol']],
                      ['insert', ['link', 'video', 'picture']]
                  ]
              });
          </script>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="article_summary">Short summary for your article</label>
            {{ form_widget(form.summary, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="article_category">Category</label>
            {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="article_image">Choose a thumbnail for your article</label>
            {{ form_widget(form.image, {'attr': {'class': 'form-control-file'}}) }}
        </div>
      </div>
      <div class="form-group">
        <div class="checkbox checkbox-circle checkbox-info peers ai-c">
            {{ form_widget(form.featured) }}
          <label for="article_featured" class="peers peer-greed js-sb ai-c">
            <span class="peer peer-greed">Featured</span></label>
        </div>
      </div>
      <div class="form-group">
        <div class="checkbox checkbox-circle checkbox-info peers ai-c">
            {{ form_widget(form.published, {'attr': {'checked': 'checked'}}) }}
          <label for="article_published" class="peers peer-greed js-sb ai-c">
            <span class="peer peer-greed">Published (Uncheck to be able to publish your article later.)</span></label>
        </div>
      </div>
        {{ form_widget(form._token) }}
      <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
{% endblock content %}
